body {
			background-color: #DDD0C8;

}
h1 {
			color: #5A5A5A;
			font-weight: bolder;
			font-family: courier, serif;
}
h2 {
			text-decoration: underline;
			padding-left: 30px;
			color: #5A5A5A;
			font-weight: bold;
			font-family: courier, serif;
}
label {
			color: #5A5A5A;
}
input {
			margin-left: 3px;
			justify-content: space-evenly;
}
button {
			font-size: 16px;
			border: 1px solid #5A5A5A;
			background-color: #FFFFFF;
			padding: 3px;
}
a {
  			font-size: 20px;
 			padding: 3px;
}
table {
			border-collapse: collapse;
			border-right: 1px solid black;
			border-left: 1px solid black;
}
table td {
			border-right: 1px solid black;
			border-left: 1px solid black;
			padding-left: 20px;
			padding-right: 20px;
}
table tr {
			border-top: 1px solid black;
			text-align: center;
			padding-left:5px;
			padding-right:5px;

}
table th {
			padding: 5px;
			background-image: linear-gradient(to right, #C8CBDD, #949ABD)
}
tr:last-child {
			border-bottom: 1px solid black;
}
tr:nth-child(even) {
			background-color: #C8DDDA;
}
tr:nth-child(odd) {
			background-color: #C8CBDD;
}
.flash {
			color: red;
			font-weight: bold;
}
header {
			color: #5A5A5A;
}
.shortcut-menu span {
			background-color: lightsalmon;
}
