{% extends "layout.html" %}
{% block page_title %}Bakery Inventory System{% endblock %}
{% block body %}
    {{ super() }}
<h2>Create User Account</h2>
<form action="/add_user" method="post" class="navbar-form create-user">
	<div class="form-group" style="padding-left:30px;">
		<label for="new-user"></label><input type="text" name="new-user" id="new-user" placeholder="New Username" class="form-control" required>
	</div>
	<div class="form-group" style="padding-left:30px;">
		<label for="new-pass"></label><input type="text" name="new-pass" id="new-pass" placeholder="Password" class="form-control" required>
	</div>
	<div class="form-group" style="padding-left:30px;">
		<label for="new-email"></label><input type="text" name="new-email" id="new-email" placeholder="Email" class="form-control" required>
	</div>
	<p></p>
	<button type="submit" class="btn new-user-success" style="margin-left:30px;">Register</button>
</form>

{% endblock %}
