{% extends "layout.html" %}
{% block page_title %}Bakery Inventory System{% endblock %}
{% block body %}
    {{ super() }}

{% if session.get("current_user", None) == 'ADMIN' %}
<table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Transaction Date</th>
                <th>Previous Value</th>
                <th>New Value</th>
            </tr>
            {% for row in g.analytics: %}
            <tr>
                {% for item in row %}
                    {% if item == row[1] %}
                        <td><a href="/analytics/graph_{{ row[0] }}">{{ item }}</a></td>
                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

</table>

            {% if encoded != None %}
                <img src="data:image/jpeg;base64,{{ img_data }}" alt="img_data"  id="img slot"/>
            {% endif %}

{% endif %}
{% endblock %}
