<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="Group5CSS.css"/>
		<h1>Bakery Inventory System Create User</h1>
	</head>
	<body>
		<label for="newuser">Username: </label>
		<input name="UserIn" id="newuser" type="text" maxlength="16"/>
		<p/>
		<label for="newpass">Password: </label>
		<input name="UserIn" id="newpass" type="text" maxlength="10"/>
		<p/>
		<input type="button" value="Add User" id="add_user"style/>
		<p class="output" id="messageAdd" style="text-color:red"><p/>
		<script type="text/javascript" src="Group5LoginScript.js"></script>
	</body>
</html>