{% extends "layout.html" %}
{% block page_title %}Bakery Inventory System{% endblock %}
{% block body %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="Group5CSS.css">

<div style="opacity:0;height:8" class="alert alert-{{ category }}" id="message_overlay">
	{% for row in g.inventory: %}
        {% if row[3] == 0: %}
            <button style="border-radius:10px;background:red;width:auto;height:auto;color:white;" class="openbtn">Out of Stock: <b>{{ row[1] }}</b></button>
        {% endif %}
    {% endfor %}

</div>

<table style="margin:0">
    <tr style="float:inherit;">
        <th><a href="/inventory_sort0">ID</a></th>
        <th><a href="/inventory_sort1">Name</a></th>
        <th><a href="/inventory_sort2">Vendor</a></th>
        <th><a href="/inventory_sort3">Quantity (per item/gram)</a></th>
        <th></th>
    </tr>
    {% for row in g.inventory: %}
    <tr>
        {% for item in row %}
            <td>{{ item }}</td>
        {% endfor %}
        {% if session.get("current_user", None) == 'ADMIN' %}
            <form action="/inventory/delete_{{row[0]}}" method="get" class="navbar-form navbar-right">
                <td><button type="submit" class="btn btn-success">Delete Item</button></td>
            </form>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<p></p>
<button id="showOver" style="opacity:100%;background-color:white;" onclick="open_overlay()">See Out of Stock</button>
<button id="hideOver" style="opacity:0%;background-color:red;color:white;" onclick="close_overlay()">Close Alerts</button>
{% if session.get("current_user", None) == 'ADMIN' %}
    <form action="/inventory" method="post" class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" name="name" placeholder="Name" class="form-control" required>
            <input type="text" name="vendor" placeholder="Vendor" class="form-control">
            <input type="text" name="quantity" placeholder="Quantity" class="form-control">
            <button type="submit" class="btn btn-success">Add Item</button>
        </div>
    </form>

    <form action="/inventory/transaction_example_0" method="get" class="navbar-form navbar-right">
        <button type="submit" class="btn btn-success">Generate Random Transaction</button>
    </form>
{% endif %}

{% endblock %}
