<!DOCTYPE html>
<html>
	<head>
		<title id="title">Test</title>
		<link rel="stylesheet" type="text/css" href="Group5CSS.css"/>
		<h1>Bakery Inventory System Login</h1>
	</head>
	<body>
		<label for="bkuser">Username: </label>
		<input name="UserIn" id="bkuser" type="text" maxlength="16"/>
		<p/>
		<label for="bkpass">Password:  </label>
		<input name="UserIn" id="bkpass" type="text" maxlength="10"/>
		<p/>
		<input type="button" value="Submit" id="submit"></input>
		<input type="button" value="Reset Password" id="userpass_reset"></input>
		<input type="button" value="Create Account" id="create_user"></input>
		<p/>
		<p class="output" id="message" style="text-color:red"><p/>
		<script type="text/javascript" src="Group5LoginScript.js"></script>
	</body>
</html>