{% extends "layout.html" %}
{% block page_title %}Bakery Inventory System{% endblock %}
{% block body %}
    {{ super() }}

<table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Vendor</th>
                <th>Quantity</th>
            </tr>
            {% for row in g.inventory: %}
            <tr>
                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
</table>

{% endblock %}
