<!DOCTYPE html>
{% extends "layout.html" %}
{% block page_title %}Bakery Inventory System{% endblock %}
{% block body %}
    {{ super() }}
<html>
    <title>Introduction To Our System</title>
    <body>
        <p>Welcome to the Bakery Inventory Management System.  If you are logged in, you can view and manage the inventory.</p>
        <p>This is a web app developed with the use of a Flask framework. </p>
        <a href="http://flask.pocoo.org/"> <img src="flask-powered.png" alt="Flask Powered"></a>
    </body>
</html>