<!DOCTYPE html>
<html lang="eng">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/Group5CSS.css') }}">
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bakeryJS.js') }}"></script>

	<title>Bakery Inventory Login</title>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/" style="background-image:url('https://en.wikipedia.org/wiki/Kitchen_utensil#/media/File:Batterie_de_cuisine.jpg');">Bakery Inventory System</a>

			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				{% if session.get("current_user", None) != None %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
					<li><a href="{{ url_for('analytics') }}">Analytics</a></li>
                    <li><a href="{{ url_for('password_reset') }}">Reset Password</a></li>
				</ul>
                {% endif %}

				<ul class="nav navbar-nav navbar-right">
					{% if session.get("current_user", None) == None %}
					<form action="/login" method="post" class="navbar-form navbar-right">
						<div class="form-group">
                            <label for="user"></label><input type="text" name="id" id = "user" placeholder="User Name" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="pass"></label><input type="password" name="pw" id = "pass" placeholder="Password" class="form-control">
						</div>
						<button type="submit" class="btn btn-success">Log In</button>
						<!--- this <p> element is going to display information to the user if they input wrong login credentials--->
						<div id="login-message" class="flash" style="font-weight:bold;color:red;">{{ login_error }}</div>
					</form>
					{% else %}
					<li><a><b>Logged in as: {{ session.get("current_user") }}</b></a></li>
        			<li><a href="{{ url_for('logout') }}"><b><u>Logout</u></b></a></li>
					{% endif %}
				</ul>
			</div>

		</div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div style="opacity:0;" class="alert alert-{{ category }}" id="message_overlay">
				{{ message }}
                <button id="hideOver" style="opacity:0;background-color:red;" onclick="closeOverlay()">Close Alerts</button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}


    <div class="under-h1-container">

        <h1>{% block page_title %}{% endblock %}</h1>
		<img alt="Shelfing underneath the heading" src="{{ url_for('static', filename='css/shelfing.jpg') }}" style="position: relative;opacity:60%"></img>

        <p>{% block body %}{% endblock %}</p>

    </div>


    <div class='container'>
        <hr>
            Developed by <a title="Github Link" href='https://github.com/Hunterbeachum/bakery-inventory'>CSC 289 Group 5 </a>
            <p></p>
            <a href="https://flask.palletsprojects.com/en/2.2.x/">
                <img src="{{ url_for('static', filename='css/flask-powered.png') }}" alt="Flask Powered" width="250"
                                height="150" style="border:0;display:inline-flex;float:right;" title="Flask powered"
								onmouseover="">
			</a>
    </div>
    <script src="{{ url_for('static', filename='js/bakeryJS.js') }}"></script>


</html>
