{% extends "layout.html" %}
{% block page_title %}Bakery Inventory System{% endblock %}
{% block body %}
    {{ super() }}

<form action="/password_reset" method="post" class="navbar-form navbar-right">
	<div class="form-group">
	  	<label for="user"></label><input type="text" name="user" id="user" placeholder="User Name" class="form-control" required>
	</div>
	<div class="form-group">
	  	<label for="old_pw"></label><input type="password" name="old_pw" id="old_pw" placeholder="Old Password" class="form-control">
	</div>
	<div class="form-group">
	  	<label for="new_pw"></label><input type="password" name="new_pw" id="new_pw" placeholder="New Password" class="form-control">
	</div>
	<button type="submit" class="btn btn-success">Reset Password</button>
</form>

{% endblock %}
