<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="Group5CSS.css"/>
		<h1>Bakery Inventory System Password Reset</h1>
	</head>
	<body>
		<label for="username">Username: </label>
		<input name="username" id="username" type="text" />
		</p>
		<label for="newPass">Password: </label>
		<input name="newPass" id="newPass" type="text" />
		</p>
		<input id="submit_new_pass" value="Reset Password" type="button"/>
		<p class="output" id="message" style="text-color:red"><p/>
	</body>
</html>