{% extends "layout.html" %}
{% block page_title %}Bakery Inventory System{% endblock %}
{% block body %}
    {{ super() }}
<form action="/password_reset" method="post" class="navbar-form navbar-right">
	<h2 style="margin-left:-25px">Reset Password</h2>
	<div class="form-group" style="padding-left:30px;">
	  	<label for="user"></label><input type="text" name="user" id="user" placeholder="User Name" class="form-control" required>
	</div>
	<p></p>
	<div class="form-group" style="padding-left:28px;">
	  	<label for="old_pw"></label><input type="password" name="old_pw" id="old_pw" placeholder="Old Password" class="form-control" required>
	</div>
	<p></p>
	<div class="form-group" style="padding-left:28px;">
	  	<label for="new_pw"></label><input type="password" name="new_pw" id="new_pw" placeholder="New Password" class="form-control" required>
	</div>
	<p></p>
	<button type="submit" class="btn btn-success" style="margin-left:5px;">Submit Reset</button>
</form>

{% endblock %}
